#header {
    position: relative;
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: #542A59;
}

.header-box {
    position: relative;
    width: 980px;
    height: 80px;
    margin: 0 auto;
}

#logo {
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 18px;
}

#nav {
    position: absolute;
    right: 0;
    bottom: 5px;
}

.nav-item {
    display: inline; /*兼容性更好*/
    margin-left: 28px;
    font-size: 14px;
}

#address {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.copyright-item {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 34px;
    background: url(../img/icon-github.png);
}

#sub-nav {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #333;
    color: #fff;
    background-color: #000;
    text-align: center;
}

.sub-nav-item {
    display: inline;
    margin-left: 28px;
    font-size: 14px;
}

#first-nav-item {
    margin-left: 0;
}

#footer {
    background-color: #000;
    color: #fff;
    zoom: 1; /*不设置高度方便以后添加或者减少LINK*/
}

#link-wrap {
    margin-top: 43px;
    margin-left: 80px;
    margin-bottom: 98px;
    zoom: 1;
}

#link-wrap .link {
    float: left;
    margin-right: 130px;
}

#link-wrap .inner-link {
    margin-bottom: 27px;
    font-size: 17px;
    text-indent: 2em;
}

#link-wrap .link-item {
    line-height: 1.5;
    font-size: 14px;
}

#copyright-layout {
    text-align: center;
}

@media screen and (max-width: 980px) {
    #address {
        display: none;
    }
}


#link-wrap:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

